@model IEnumerable<MasterChef.UI.Models.RecipeModel>


@if (Model != null)
{
    <br/>
    <h2>Receitas</h2>
    <div class="container vitrine">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card h-100">
                        <img class="card-img-top" data-src="@Html.DisplayFor(modelItem => @item.Image)" src="~/Img/@item.Image">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => @item.Title)</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-dark idDetalhes" src="#" id="@item.Id">Ver detalhes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <partial name="_DetalhePartial" view-data="ViewData"></partial>
}


